.swiper .swiper-slide {
    position: relative;
}

.swiper .swiper-slide .slide-content {
    position: absolute;
}

.swiper .swiper-slide img {
    width: 100%;
}

.swiper .swiper-slide a {
    padding: 10px 30px;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    background:darkcyan;
    color: white;
}